<div class="row">
  <div class="col-lg-10 offset-lg-1 add-edit-article">
    <h2>{{aboutTitle}} Personal Info</h2>
    <form method="post">
      <div class="form-group">
        <label>Title</label>
        <input type="text" name="title" value="{{personalInfo.title}}" placeholder="Title" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label">{{aboutTitle}} Date</label>
        <input class="form-control" value="{{personalInfo.personalInfo.infoDate}}" type="text" name="infoDate" id="example-text-input">
      </div>
      <br/>
      <div class="form-group">
        <label>Content</label>
        <textarea type="text" rows="6" name="content" id="inputSuccess1" placeholder="Content" class="form-control">{{personalInfo.content}}</textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
